.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 50%;
}

.modal__close-button {
  position: absolute;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  top: 1%;
  right: 2%;
}

.modal__close-icon {
  font-size: 1.5rem;
}
