.menu {
  display: flex;
  background-color: var(--clr-dark);
  padding: 10px;
  border-radius: 40px;
}

.menu__button {
  color: var(--clr-menu-text);
  width: 30vw;
  height: 12vw;
  border-radius: 30px;
}
