* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button {
  background: none;
  border: none;
  cursor: pointer;
}

.body-big-text {
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
}

.body-small-text {
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
}
