.clock__action {
  text-transform: uppercase;
  position: relative;
  color: var(--clr-light);
}

.clock__time {
  color: var(--clr-light);
  position: relative;
}

.clock {
  border: 4vw solid var(--clr-dark);
  border-radius: 50%;
  box-shadow: -10px -10px 50px -20px rgb(91, 96, 138);
}

.clock__circular-progress {
  box-shadow: 11px 12px 24px -5px rgb(56, 59, 73);
  position: relative;
  border: 10px solid var(--clr-dark);
  height: 80vw;
  width: 80vw;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.clock__circular-progress::before {
  content: '';
  position: absolute;
  width: 67vw;
  height: 67vw;
  border-radius: 50%;
  background-color: var(--clr-dark);
}
